In [93]:
import pandas as pd

In [55]:
df2 = pd.read_parquet('de_train.parquet', engine='pyarrow')

In [58]:
missing_genes = ['LAMA3', 'GHR', 'PHKA1','KIF20A','CDC45','WASF3','EGF','PRR15L','TJP1','RAP1GAP','CDH3',
 'FAT1','FGFR2', 'MMP1','EPHA3','TERT','BAMBI','SPDEF','SNAP25','TSKU','BMP4',
 'COL1A1','TBX2','EGFR','FUT1','GATA2','NFATC4','GRB7','TFAP2A','SOX2','ABCB6','KCNK1','FGFR4','ST6GALNAC2','ETV1','HOXA5','CDC25A',
 'GLI2','COL4A1','CDC20','HMGA2']

In [73]:
genes = pd.read_csv('../CIGER/data/gene_feature.csv', header=None)

In [75]:
#make a set of genes that I need to get from the Kaggle data
gene_array = set(genes[0])

In [62]:
#rename genes that I know are different between the datasets
df2 = df2.rename(columns={"TENT4A":"PAPD7", 'CIAO3':'NARFL', 'CEMIP2':'TMEM2', 'ELP1':'IKBKAP', 'HDGFL3':'HDGFRP3', 'JPT2':'HN1L', 'KHDC4':'KIAA0907', 'REXO2':'SFN', 'RXYLT1':'TMEM5', 'SQOR':'SQRDL', 'STIMATE':'TMEM110'})

In [64]:
df2_cols = df2.columns

In [65]:
#remove genes that aren't in the L1000 gene set
df2_drop = [gene for gene in df2_cols[5:] if gene not in gene_array]

In [66]:
df2 = df2.drop(df2_drop, axis=1)

In [67]:
new_genes = set(df2.columns[5:])

In [77]:
#Make missing_genes list, which tells me which genes I need to remove from CIGER data's gene_feature.csv
missing_genes = set()
for i in gene_array:
    if i not in new_genes:
        missing_genes.add(i)

In [90]:
#Remove the genes I don't have data for, and save the genes to a csv for kaggle in alphabetical order
for ind, gene in enumerate(genes[0]):
    if gene in missing_genes:
        genes = genes.drop(index=ind)
genes = genes.sort_values(0)
genes.to_csv('gene_feature_kaggle.csv', header=False, index=False)

# Make drug_smiles_kaggle.csv and drug_id_kaggle.csv

In [170]:
df = pd.read_parquet('adata_train.parquet', engine='pyarrow')

In [171]:
df

                     obs_id        gene  count  normalized_count
0          000006a87ba75b72        AATF      1          5.567933
1          000006a87ba75b72      ABHD12      1          5.567933
2          000006a87ba75b72       ABHD3      1          5.567933
3          000006a87ba75b72  AC004687.1      1          5.567933
4          000006a87ba75b72  AC009779.2      1          5.567933
...                     ...         ...    ...               ...
416442307  ffffe67500d95d8d      ZSWIM7      1          4.205181
416442308  ffffe67500d95d8d      ZSWIM8      1          4.205181
416442309  ffffe67500d95d8d        ZUP1      1          4.205181
416442310  ffffe67500d95d8d        ZXDB      1          4.205181
416442311  ffffe67500d95d8d         ZYX      4          5.580224

[416442312 rows x 4 columns]

In [172]:
drug_df = pd.read_parquet('de_train.parquet', engine='pyarrow')

In [173]:
drug_df.tail()

,cell_type,sm_name,sm_lincs_id,SMILES,control,A1BG,A1BG-AS1,A2M,A2M-AS1,A2MP1,...,ZUP1,ZW10,ZWILCH,ZWINT,ZXDA,ZXDB,ZXDC,ZYG11B,ZYX,ZZEF1
609,T regulatory cells,Atorvastatin,LSM-5771,CC(C)c1c(C(=O)Nc2ccccc2)c(-c2ccccc2)c(-c2ccc(F...,False,-0.014372,-0.122464,-0.456366,-0.147894,-0.545382,...,-0.549987,-2.200925,0.359806,1.073983,0.356939,-0.029603,-0.528817,0.105138,0.491015,-0.979951
610,NK cells,Riociguat,LSM-45758,COC(=O)N(C)c1c(N)nc(-c2nn(Cc3ccccc3F)c3ncccc23...,False,-0.455549,0.188181,0.595734,-0.100299,0.786192,...,-1.236905,0.003854,-0.197569,-0.175307,0.101391,1.028394,0.034144,-0.231642,1.023994,-0.064760
611,T cells CD4+,Riociguat,LSM-45758,COC(=O)N(C)c1c(N)nc(-c2nn(Cc3ccccc3F)c3ncccc23...,False,0.338168,-0.109079,0.270182,-0.436586,-0.069476,...,0.077579,-1.101637,0.457201,0.535184,-0.198404,-0.005004,0.552810,-0.209077,0.389751,-0.337082
612,T cells CD8+,Riociguat,LSM-45758,COC(=O)N(C)c1c(N)nc(-c2nn(Cc3ccccc3F)c3ncccc23...,False,0.101138,-0.409724,-0.606292,-0.071300,-0.001789,...,0.005951,-0.893093,-1.003029,-0.080367,-0.076604,0.024849,0.012862,-0.029684,0.005506,-1.733112
613,T regulatory cells,Riociguat,LSM-45758,COC(=O)N(C)c1c(N)nc(-c2nn(Cc3ccccc3F)c3ncccc23...,False,-0.757116,0.085910,-0.730025,-1.367801,-0.695944,...,0.232343,-2.247816,-0.346036,-0.919567,-1.131372,-0.120252,-0.064537,-0.603280,-0.098041,-0.750681

In [174]:
drug_df = drug_df[['sm_lincs_id', 'SMILES']]

In [175]:
drug_df.tail()

    sm_lincs_id                                             SMILES
609    LSM-5771  CC(C)c1c(C(=O)Nc2ccccc2)c(-c2ccccc2)c(-c2ccc(F...
610   LSM-45758  COC(=O)N(C)c1c(N)nc(-c2nn(Cc3ccccc3F)c3ncccc23...
611   LSM-45758  COC(=O)N(C)c1c(N)nc(-c2nn(Cc3ccccc3F)c3ncccc23...
612   LSM-45758  COC(=O)N(C)c1c(N)nc(-c2nn(Cc3ccccc3F)c3ncccc23...
613   LSM-45758  COC(=O)N(C)c1c(N)nc(-c2nn(Cc3ccccc3F)c3ncccc23...

In [176]:
drug_df = drug_df.drop_duplicates()

In [177]:
drug_df = drug_df.reset_index()

In [178]:
drug_df = drug_df.drop('index', axis=1)

In [179]:
#for ind, smile in enumerate(drug_df['SMILES']):
    #drug_df.loc[ind, 'SMILES'] = smile.upper()

In [180]:
drug_df.to_csv('drug_smiles_kaggle.csv', header=False, index=False)

In [39]:
drug_df['sm_lincs_id'].to_csv('drug_id_kaggle', header=False, index=False)

# Make chemical_signatures_kaggle.csv

In [ ]:
#Need sig_id, pert_id, pert_type, cell_id, pert_idose, genes...

In [153]:
drug_df = pd.read_parquet('de_train.parquet', engine='pyarrow')

In [154]:
#drug_df = drug_df.drop(["sm_name", "SMILES", "control"], axis=1)

In [155]:
genes = pd.read_csv('../CIGER/data/gene_feature.csv', header=None)

In [156]:
#make a set of genes that I need to get from the Kaggle data
gene_array = set(genes[0])

In [157]:
drug_df = drug_df.rename(columns={"TENT4A":"PAPD7", 'CIAO3':'NARFL', 'CEMIP2':'TMEM2', 'ELP1':'IKBKAP', 'HDGFL3':'HDGFRP3', 'JPT2':'HN1L', 'KHDC4':'KIAA0907', 'REXO2':'SFN', 'RXYLT1':'TMEM5', 'SQOR':'SQRDL', 'STIMATE':'TMEM110'})

In [158]:
drug_df_cols = drug_df.columns

In [159]:
#remove genes that aren't in the L1000 gene set
drug_df_drop = [gene for gene in drug_df_cols[5:] if gene not in gene_array]

In [160]:
drug_df = drug_df.drop(drug_df_drop, axis=1)

In [161]:
cols = drug_df.columns.tolist()

In [162]:
cols = ['sm_lincs_id'] + ['cell_type'] + cols[5:]

In [163]:
drug_df = drug_df[cols]

In [164]:
drug_df.insert(0, "sig_id", ['na']*614)

In [165]:
drug_df.insert(2, "pert_type", ['trt_cp']*614)

In [166]:
drug_df.insert(4, "pert_idose", ['1uM']*614)

In [168]:
drug_df = drug_df.rename(columns={'sm_lincs_id':'pert_id', 'cell_type':'cell_id'})

In [169]:
drug_df.to_csv('chemical_signature_kaggle.csv', index=False)